[submodule "PolyTheremin_Hardware"]
	path = PolyTheremin_Hardware
	url = https://github.com/MiCyg/PolyTheremin_Hardware
[submodule "PolyTheremin_LabView"]
	path = PolyTheremin_LabView
	url = https://github.com/MiCyg/PolyTheremin_LabView
[submodule "PolyTheremin_Algorithm"]
	path = PolyTheremin_Algorithm
	url = https://github.com/MiCyg/PolyTheremin_Algorithm
